@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  min-width: 600px;
}

.wrapper {
  width: 100%;
  text-align: center;
  font-size: 0px;
}

.nav {
  position: fixed;
  top: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 50px;
  width: 100%;
  min-width: 600px;
}

.container {
  position: relative;
}

.nav__list {
  padding: 0;
}

.nav__item {
  display: inline;
  font-size: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
  padding: 5px;
}
.nav__item:hover {
  border: 3px solid #fff;
}

.nav__item-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  border: 3px solid #fff;
}

li.nav__item + li.nav__item {
  margin-left: 2%;
}

.section {
  height: 700px;
  margin-top: -45px;
}

.section__title h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  padding-top: 100px;
}

.section__one {
  background-color: #2ACE9E;
}

.section__two {
  background-color: #3E9CD9;
}

.section__three {
  background-color: #37495F;
}

.section__four {
  background-color: #DB3D3F;
}

.section__five {
  background-color: #BFC1C8;
}

.section__six {
  background-color: #E8991A;
}

.section__seven {
  background-color: #984AB5;
}

/*------------------------TABS--------------------------*/
/* ╨С╨░╨╖╨╛╨▓╤Л╨╣ ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╤В╨░╨▒╨╛╨▓ */
.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto;
  font-size: 18px;
}

/* ╨б╤В╨╕╨╗╨╕ ╤Б╨╡╨║╤Ж╨╕╨╣ ╤Б ╤Б╨╛╨┤╨╡╤А╨╢╨░╨╜╨╕╨╡╨╝ */
.tabs__content {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}

.tabs__content-description {
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  /* ╨┐╤А╨╕╨║╤А╤Г╤В╨╕╨╝ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╤О */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* ╨Ю╨┐╨╕╤Б╤Л╨▓╨░╨╡╨╝ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╤О ╤Б╨▓╨╛╨╣╤Б╤В╨▓╨░ opacity */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ╨Я╤А╤П╤З╨╡╨╝ ╤З╨╡╨║╨▒╨╛╨║╤Б╤Л */
.tabs__item {
  display: none;
  position: absolute;
}

/* ╨б╤В╨╕╨╗╨╕ ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╨╡╨╣ ╨▓╨║╨╗╨░╨┤╨╛╨║ (╤В╨░╨▒╨╛╨▓) */
.tabs__label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 0px solid #ddd;
  border-width: 1px 1px 1px 1px;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}

/* ╨и╤А╨╕╤Д╤В-╨╕╨║╨╛╨╜╨║╨╕ ╨╛╤В Font Awesome ╨▓ ╤Д╨╛╤А╨╝╨░╤В╨╡ Unicode */
.tabs__label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabs__label[for*="1"]:before {
  content: "\f19a";
}

.tabs__label[for*="2"]:before {
  content: "\f17a";
}

.tabs__label[for*="3"]:before {
  content: "\f13b";
}

.tabs__label[for*="4"]:before {
  content: "\f13c";
}

/* ╨Ш╨╖╨╝╨╡╨╜╨╡╨╜╨╕╤П ╤Б╤В╨╕╨╗╤П ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╨╡╨╣ ╨▓╨║╨╗╨░╨┤╨╛╨║ ╨┐╤А╨╕ ╨╜╨░╨▓╨╡╨┤╨╡╨╜╨╕╨╕ */
.tabs__label:hover {
  color: #888;
  cursor: pointer;
}

/* ╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨░╨║╤В╨╕╨▓╨╜╨╛╨╣ ╨▓╨║╨╗╨░╨┤╨║╨╕ */
.tabs__item:checked + label {
  color: #555;
  border-top: 1px solid #009933;
  border-bottom: 1px solid #fff;
  background: #fff;
}

/* ╨Р╨║╤В╨╕╨▓╨░╤Ж╨╕╤П ╤Б╨╡╨║╤Ж╨╕╨╣ ╤Б ╨┐╨╛╨╝╨╛╤Й╤М╤О ╨┐╤Б╨╡╨▓╨┤╨╛╨║╨╗╨░╤Б╤Б╨░ :checked */
#tab1:checked ~ #content-tab1, #tab2:checked ~ #content-tab2, #tab3:checked ~ #content-tab3, #tab4:checked ~ #content-tab4 {
  display: block;
}

/* ╨г╨▒╨╕╤А╨░╨╡╨╝ ╤В╨╡╨║╤Б╤В ╤Б ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╨╡╨╣ 
* ╨╕ ╨╛╤Б╤В╨░╨▓╨╗╤П╨╡╨╝ ╨╕╨║╨╛╨╜╨║╨╕ ╨╜╨░ ╨╝╨░╨╗╤Л╤Е ╤Н╨║╤А╨░╨╜╨░╤Е
*/
@media screen and (max-width: 745px) {
  .tabs__label {
    font-size: 0;
  }

  .tabs__label:before {
    margin: 0;
    font-size: 18px;
  }
}
/* ╨Ш╨╖╨╝╨╡╨╜╤П╨╡╨╝ ╨▓╨╜╤Г╤В╤А╨╡╨╜╨╜╨╕╨╡ ╨╛╤В╤Б╤В╤Г╨┐╤Л 
*  ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╨╡╨╣ ╨┤╨╗╤П ╨╝╨░╨╗╤Л╤Е ╤Н╨║╤А╨░╨╜╨╛╨▓
*/
@media screen and (max-width: 600px) {
  .tabs__label {
    padding: 15px;
  }
}
/*--------------------Accordeon----------------*/
.accordeon {
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
}

ul.accordeon__list {
  padding-left: 0;
}

.accordeon__trigger {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: #2ACE9E;
  display: block;
  padding: 6px;
  border: 1px solid #ddd;
  text-align: left;
  padding-left: 15px;
}
.accordeon__trigger i {
  padding-right: 15px;
}

.accordeon__inner {
  padding-left: 0;
  background: #FFF;
}

.accordeon__item {
  margin-bottom: 10px;
  list-style: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.accordeon__inner-item {
  list-style: none;
}

.accordeon__inner-link {
  text-decoration: none;
  color: #34495e;
  border-bottom: 1px dotted #34495e;
}

.accordeon__inner {
  display: none;
}
